<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="action_open_nhan_su_dashboard" model="ir.actions.server">
            <field name="name">Tổng quan</field>
            <field name="model_id" ref="model_nhan_su_dashboard"/>
            <field name="state">code</field>
            <field name="code">
                action = model.action_get_dashboard()
            </field>
        </record>

        <menuitem id="menu_root"
            name="Quản lý nhân sự"
            sequence="0"/>

        <menuitem name="Tổng quan"
            id="menu_nhan_su_dashboard"
            parent="menu_root"
            sequence="1"
            action="action_open_nhan_su_dashboard"/>

        <menuitem name="Nhân viên"
            id="menu_nhan_vien"
            parent="menu_root"
            sequence="2"
            action="action_nhan_vien"/>

        <menuitem name="Lịch sử công tác"
            id="menu_lich_su_cong_tac"
            parent="menu_root"
            sequence="2"
            action="action_lich_su_cong_tac"/>

        <menuitem name="Chứng chỉ nhân viên"
            id="menu_danh_sach_chung_chi_bang_cap"
            parent="menu_root"
            sequence="3"
            action="action_danh_sach_chung_chi_bang_cap"/>

        <menuitem name="Danh mục"
            id="menu_danh_muc_chung"
            parent="menu_root"
            sequence="10"/>

        <menuitem name="Đơn vị"
            id="menu_don_vi"
            parent="menu_danh_muc_chung"
            sequence="1"
            action="action_don_vi"/>

        <menuitem name="Chức vụ"
            id="menu_chuc_vu"
            parent="menu_danh_muc_chung"
            sequence="2"
            action="action_chuc_vu"/>

        <menuitem name="Chứng chỉ/Bằng cấp"
            id="menu_chung_chi_bang_cap"
            parent="menu_danh_muc_chung"
            sequence="3"
            action="action_chung_chi_bang_cap"/>
    </data>
</odoo>
